img {
	width: 300px;
	height: 300px;
}

div {
	display: inline-table;
	width: 200px;
	height: 200px;
	margin: 50px;
}


table, td {
	border: 1px solid;
}

body {
	background: silver
}

.heading {
	font-family: Arial;
	color: blue;
}

#title {
	font-family: Verdana;
	color: purple;
}

span {
	font-family: cursive;
}

p {
	font-family: sans-serif;
}

p strong {
	color: yellow;
}

em {
	color: red;
}
