/* general styling */
body {
	background-color: #FAFBFC;
	font-family: "Raleway", Arial, sans-serif;
	color: #030408;
	line-height: 1.2em;
	margin: 0px auto;
	width: 100%;
	position: relative;
}
/* wrapper */
.wrapper {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

/* header styling */
header {
	position: relative;
	width: relative;
	margin-top: 2em;
	height: 8em;
	background: url("banners/bandw.jpg");
	background-size: cover;
}
#title {
	color: #FAFBFC;
	font-weight: 600;
	text-align: center;
	font-size: 4.5em;
	padding-top: 0.75em;
	position: relative;
}

/* menu styling */
nav {
	margin-left: -1em;
}
nav ul {
	text-align: center;
}
nav li {
	display: inline;
	list-style: none;
}
nav li a{
  	text-decoration: none;
  	display: inline-block;
	padding: 1em;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
}
.blog-menu {
	position: relative;
	float: right;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 17%;
	min-height: 100px;
	background-color: #FAFBFC;
}
.blog-menu h4 {
	color: #6D7588;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin: 1.5em;
}
.blog-menu li {
	font-size: .9em;
	list-style: square;
	margin-left: 2.5em;
	margin-bottom: 0.5em;
}
a {
	text-decoration: none;
	color: #3C4761;
}
a:hover {
	color: #FF7538;
	font-weight: 600;
}

/* main content styling */
section {
	position: relative;
	float: left;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 78%;
	min-height: 100px;
	background-color: #FAFBFC;
}
section h3 {
	margin-top: 1.3em;
	font-weight: 600;
	font-size: 1.2em;
	color: #6D7588;
	text-transform: uppercase;
}
section h4 {
	color: #9DA3B0;
	font-size: 1.2em;
}
section h6 {
	color: #9DA3B0;
	font-size: 1em;
}
section p {
	margin: 1.5em 0;
}
section li {
	margin: 0.5em 3em;
	list-style: square;
}

/* footer styling */
footer {
	position: relative;
	margin-bottom: 1em;
	height: 30px;
	clear: both;
	color: #FAFBFC;
	text-transform: uppercase;
	background: url("banners/bandw.jpg");
	background-size: cover;
}
footer p {
	text-align: center;
	font-weight: 600;
	padding-top: 7px;
	margin-left: 1em;
}

/** Tablet view **/
@media screen and (max-width: 960px) {
  #title {
  	font-size: 3.5em;
  	padding-top: 1em;
  }
  nav li a {
  	padding: 0.5em;
  	font-size: 1em;
  }
  .blog-menu {
  	width: 20%
  }
  section {
  	width: 77%;
  }
}
/** Mobile view **/
@media screen and (max-width: 600px){
  #title {
  	font-size: 2.3em;
  	padding-top: 1.45em;
  }
  nav span {
  	display: none;
  }
  nav li a {
  	padding: 0.8em;
  	font-size: 1.2em;
  }
  section {
  	float: none;
    margin: 5px auto;
    padding: 2%;
    width: 90%
  }
  .blog-menu {
  	float: none;
    margin: 5px auto;
    padding: 2%;
    width: 90%;
  }
  .blog-menu h4 {
  	margin: 0.5em;
  }
}