/* general syling */
body {
	background-color: #F7F7F0;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 1.2em;
	margin: 0px auto;
	width: 100%;
	position: relative;
}
/* wrapper */
.wrapper {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

/* header styling */
header {
	position: relative;
	width: relative;
	margin-top: 2em;
	height: 8em;
	background: url(https://github.com/ehsalazar/ehsalazar.github.io/blob/master/unit1_projects/images/graffiti_banner.JPG?raw=true) 50%;
}
#title {
	color: #F7F7F0;
	text-transform: uppercase;
	font-weight: 600;
	margin-left: 2em;
	margin-top: 1.3em;
	font-size: 2.5em;
	float: left;
	position: relative;
}

/* menu styling */
nav {
	margin-left: -1em;
}
nav ul {
	text-align: center;
}
nav li {
	display: inline;
	list-style: none;
}
nav li a{
  	text-decoration: none;
  	display: inline-block;
	padding: 1em;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
}
.blog-menu {
	position: relative;
	float: right;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 15%;
	min-height: 100px;
	background-color: #C1CAD4;
}
.blog-menu h4 {
	color: #20232B;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin: 1.5em;
}
.blog-menu li {
	font-size: .9em;
	list-style: square;
	margin-left: 2.5em;
	margin-bottom: 0.5em;
}
a {
	text-decoration: none;
	color: #404754;
}
a:hover {
	color: #EB7C0E;
	font-weight: 600;
}

/* main content styling */
section {
	position: relative;
	float: left;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 82%;
	min-height: 100px;
	background-color: #C1CAD4;
}
section h3 {
	margin-top: 1.5em;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
	font-weight: 600;
	color: #20232B;
	text-transform: uppercase;
}
section h6 {
	margin-left: 1.5em;
}
section p {
	margin: 1.5em;
}
img {
	width: 250px;
	height: 250px;
}
figure {
	display: inline-block;
	margin-left: 30px;
	margin-top: 1px;
	margin-bottom: 60px;
	width: 270px;
	height: 250px;
}

/* footer styling */
footer {
	position: relative;
	margin-bottom: 1em;
	height: 30px;
	clear: both;
	color: #F7F7F0;
	text-transform: uppercase;
	background: url(https://github.com/ehsalazar/ehsalazar.github.io/blob/master/unit1_projects/images/graffiti_banner.JPG?raw=true) 50% 25%;
}
footer p {
	text-align: center;
	font-weight: 600;
	padding-top: 7px;
	margin-left: 1em;
}

/** Tablet view **/
@media screen and (max-width: 960px) {
  #title {
  	font-size: 1.6em;
  	line-height: 40px;
  	padding: 20px;
  }
  nav li a {
  	padding: 0 0.5em;
  	font-size: 1em;
  }
  .blog-menu {
  	width: 20%
  }
  section {
  	width: 77%;
  }
}
/** Mobile view **/
@media screen and (max-width: 600px){
  #title {
  	font-size: 1.1em;
    line-height: 40px;
  }
  header {
  	text-align: center;
  }
  nav span {
  	display: none;
  }
  nav li a {
  	padding: 0.8em;
  	font-size: 1.2em;
  }
  section {
  	float: none;
    margin: 5px auto;
    padding: 2%;
    width: 90%
  }
  .blog-menu {
  	float: none;
    margin: 5px auto;
    padding: 2%;
    width: 90%;
  }
  .blog-menu h4 {
  	margin: 0.5em;
  }
}